<div id="genero">
    <img src="https://i.imgur.com/TCTKobQ.jpg" alt="Reggaeton">
    <h1>Reggaeton</h1>
    <h5><small>El reguetón es un género musical que derivó del reggae en español que es a su vez un subgénero del
            dancehall, así como elementos principalmente de la música bounce. Es un género musical muy popular hasta hoy
            en
            día; que ha llegado a alcanzar sus apogeos máximos durante las décadas del 2000 y 2010.</small></h5>
    <a href="/Reggaetons" type="button" id="button_View">Ver listado</a>
</div>
<div id="genero">
    <img src="https://i.imgur.com/tzPbWCK.jpg" alt="Bachata">
    <h1>Bachata</h1>
    <h5><small>La bachata es un género musical bailable originario de la República Dominicana, dentro de lo que se
            denomina folclore urbano. Está considerado como un derivado del bolero rítmico, y el merengue</small></h5>
    <a href="/Bachatas" type="button" id="button_View">Ver listado</a>
</div>
<div id="genero">
    <img src="https://lastfm.freetls.fastly.net/i/u/ar0/d1ab6f347c7159dc4f6830b904090029.jpg" alt="Salsa">
    <h1>Salsa</h1>
    <h5><small>La salsa es un género musical bailable resultante de la síntesis del son cubano y otros géneros de música
            caribeña y estadounidenses como el jazz y el blues. La salsa se consolidó como un éxito comercial por
            músicos de origen puertorriqueño en Nueva York en la década de 1960</small></h5>
    <a href="/Salsas" type="button" id="button_View">Ver listado</a>
</div>